@{
    ViewBag.Title = "Rezervasyonlarım";
   
}
@using Mvc_Otelim.Models;
@using System.Data;

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">

                     <p> My Reservations </p>
                    

                </div>
                <div class="block-controls">
                    <a href="/Home/Index">   <span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span> </a>
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>

                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Rezervasyon ID</th>
                                <th>Oda ID</th>
                                <th>Giriş Tarihi</th>
                                <th>Çıkış Tarihi</th>
                                <th>Otel</th>
                                <th>İptal</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{foreach (DataRow k in Model.Tables[0].Rows)
                                {


                                                        <tr>
                                                            <td>@k["rezID"]</td>
                                                            <td>@k["OdaID"]</td>
                                                            <td>@Convert.ToDateTime(k["GirişTarih"].ToString()).ToString("dd/MM/yyyy")</td>
                                                            <td>@Convert.ToDateTime(k["ÇıkışTarih"].ToString()).ToString("dd/MM/yyyy")</td>
                                                            <td>@k["OtelAdı"]</td>
                                                          
                                                            <td><button class="btn btn-danger rezsil" data-rezid="@Convert.ToInt32(k["rezID"])">İptal Et</button></td>
                                                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
<script>
    $(".rezsil").click(function () {
        
            var rID = $(this).data("rezid");
            var check = confirm(rID + " no'lu rezervasyon iptal edilsin mi?")
            
            if (check == true) {
               
                $.ajax({
                    type: "POST",
                    url: "/Kullanıcı/RezervasyonSil/",
                    data:{id:rID},
                    success: function () {
                        alert("Rezervasyon iptal edildi!");
                        window.location.replace("/Kullanıcı/Rezervasyonlar/");
                    }
                    
                });
            }
        });
    </script>
    <script>
        $(window).on("load",function () {
           
            var check =@Convert.ToInt32(Session["rez"]);
           
            if (check == 1) {
                @{
                    Session.Remove("rez");
                }
                alert("Rezervasyon Eklendi");
            }


});


    </script>

}